<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">

    <title>AI Fitness App</title>
</head>

<body>
    <div id="top-button"><button><span><a href="#header">^</a></span></button></div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static',filename='logo.png') }}" alt="" srcset=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                    <a class="nav-link" href="{{ url_for('exercise_page') }}">Exercise</a>
                    <a class="nav-link" href="#">BMI Calculator</a>
                </div>
            </div>
        </div>
    </nav>

    <div id="header">
        <h1>AI Fitness Trainer</h1>
        <p>What seems impossible today, will become your habit tommorow</p>
        <button><a href="{{ url_for('exercise_page') }}">Rock Now</a></button>
    </div>

    <div id="about-cards">
        <div class="cards">
            <div class="image"><video src="{{ url_for('static',filename='community.mp4') }}"" autoplay muted loop></video></div>
            <div class=" para">
                    <h1>Community</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure magni tenetur veritatis asperiores
                        minus labore quis enim accusamus explicabo maxime maiores, vitae delectus iste eum nam mollitia
                        quae
                        ea quas, sit molestiae illo nostrum! Omnis placeat aspernatur laudantium aliquid optio!</p>
            </div>
        </div>
        <div class="cards">
            <div class="para">
                <h1>Motivation</h1>
                <p> <span>I'm tired <br>
                    It's too cold <br>
                    It's too hot <br>
                    It's raining <br></span>
                    Let's go</p>
            </div>
            <div class="image">
                <img src="{{ url_for('static',filename='motivation-image.jpg') }}" alt="">
            </div>
        </div>
        <div class="cards">
            <div class="image">
                <img src="{{ url_for('static',filename='Result-image.jpg') }}" alt="">
            </div>
            <div class="para">
                <h1>Results</h1>
                <p>Going to the gym every day can help improve your cardiovascular system, strengthen your muscles, help
                    you maintain your weight, boost your mental health and decrease the odds that you'll develop other
                    health conditions. Exercising daily strengthens your heart and allows it to pump more efficiently
                    with less strain.</p>
            </div>
        </div>
    </div>

    <div id="footer">
        <div id="write">
            <h1>Write to Us</h1>
            <form action="">
                <label for="naam">First Name</label><br>
                <input type="text" name="" id="naam">
                <div id="write-sub">
                    <span>
                        <label for="mail">Email</label><br>
                    <input type="email" id="mail">
                    </span>
                    <span>
                        <label for="number">Phone</label><br>
                    <input type="number" name="" id="number">
                    </span>
                </div>

                <label for="bol_jaldi">Type Your message here...</label><br>
                <input type="text" id="bol_jaldi"><br>

                <button>Submit</button>
            </form>
        </div>
        <div id="contact">
            <p>Office: Shadara, New Delhi, 110093 India</p>
            <span id="email">Email: arjundagar28@gmail.com</span>
            <span>Tel: 123-456-7890   |    Fax: 123-456-7890</span>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</html>